/* .graphContainer {
    width: 50vw;
    background: white;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}



@media only screen and (max-width: 600px) {
    .graphContainer {
        width: 80vw;
    }
} */